:root {
    --fullBG: #F2F2F2;
    --objectBG: #C0D9D0;
    --border: #02734A;
    --text: #01402E;
    --theme: url("theme-light.svg");
}

.dark-mode {
    --fullBG: #01402E;
    --objectBG: #02734A;
    --border: #C0D9D0;
    --text: #F2F2F2;
    --theme: url("theme-dark.svg");
}

body {
    background-color: var(--fullBG);
}

main {
    background-color: var(--objectBG);
    outline: 2.5px solid var(--border);
    border-radius: 5px;
}

header {
    background-color: var(--objectBG);
    outline: 2.5px solid var(--border);
    border-radius: 5px;
}

header h1 {
    float: right;
}

header img {
    float: left;
}

nav {
    background-color: var(--objectBG);
    outline: 2.5px solid var(--border);
    border-radius: 5px;
    font-size: 20px;
}

aside {
    background-color: var(--objectBG);
    outline: 2.5px solid var(--border);
    border-radius: 5px;
}

footer {
    background-color: var(--objectBG);
    outline: 2.5px solid var(--border);
    border-radius: 5px;
}

footer p {
    float: left;
}

nav img {
    max-height: 1.25em;
    float: right;
}

nav button {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 1em;
    background-color: var(--fullBG);
    border-radius: 0.45em;
    float: left;
    margin: 5px;
}